<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="ZvyazokModel" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel1" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel2" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel3" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel4" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel5" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel6" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel7" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel8" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ZvyazokModel9" connectionString="data source=SQL8003.site4now.net;initial catalog=db_a8ec2f_zvyazok001;persist security info=True;user id=db_a8ec2f_zvyazok001_admin;password=qRV9njR@m9KnjvG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>